* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
}

.navbar {
  background: #ffffff;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 92px;
}

.logo img {
  width: 130px;
  cursor: pointer;
}

.nav-items {
  display: flex;
  gap: 24px;
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s;
}
.nav-items li a:hover {
  color: #5271ff;
}

.btn {
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  background: #5271ff;
  color: #ffffff;
  transition: 0.3s;
}
.btn:hover {
  background: #469165;
}

.btn-outline {
  border: 1px solid #cbd5f5;
  color: #334155;
}

#hero-banner {
  background: url('../assets/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 0;
}

#hero-banner .banner-content {
  max-width: 770px;
}

#hero-banner .access-text {
  margin-bottom: 20px;
  text-align: center;
  background: #ffffff;
  padding: 6px 12px;
  border-radius: 20px;
  width: 230px;
  margin: 0 auto;
}

#hero-banner .open-txt {
  font-size: 16px;
  text-align: center;
  color: #5271ff;
}

#hero-banner h1 {
  font-size: 70px;
  margin: 20px 0;
  color: #ffffff;
}

#hero-banner h1 span {
  color: #5271ff;
}

#hero-banner p {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  line-height: 1.7;
  margin-bottom: 30px;
}

#hero-banner .banner-buttons {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
#hero-banner .see-btn {
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: 0.3s;
}
#hero-banner .see-btn:hover {
  border-color: #5271ff;
}

#works {
  padding-top: 80px;
  text-align: center;
}
#works h2 {
  font-size: 48px;
  color: #001931;
  font-weight: bold;
}
#works .sub-text {
  margin-top: 16px;
  font-size: 16px;
  color: #627382;
}

#works .works-group {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

#works .works-card {
  width: 322px;
  background: #fff;
  padding: 70px 0;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}
#works .card-image {
  width: 60px;
  height: 60px;
  background-color: #0099ff;
  padding: 10px;
  border-radius: 50%;
  margin: 0 auto;
}
#works .card-image img {
  width: 100%;
}
#works .works-card h4 {
  margin: 20px 0;
  font-size: 24px;
  color: #001931;
}
#works .works-card h4 p {
  font-size: 16px;
  color: #627382;
}

#soluton {
  padding-top: 120px;
  background: #ffffff;
}
#soluton .soluton-left {
  width: 600px;
  margin-right: 60px;
}
#soluton .soluton-left img {
  width: 100%;
}

#soluton .soluton-content {
  margin: auto;
  display: flex;
  align-items: center;
}

#soluton .solution-tag {
  font-size: 16px;
  font-weight: 600;
  color: #0099ff;
  letter-spacing: 1px;
}

#soluton .soluton-right h2 {
  font-size: 48px;
  margin: 16px 0;
  color: #001931;
}

#soluton .soluton-right p {
  font-size: 16px;
  line-height: 1.7;
  color: #627382;
  margin-bottom: 30px;
}

#soluton .soluton-list {
  list-style: none;
  padding: 0;
  margin-left: -30px;
}

#soluton .soluton-list li {
  padding-left: 30px;
  margin-bottom: 14px;
  font-size: 16px;
  color: #001931;
}
#soluton .soluton-list li i {
  color: #0099ff;
}

#cedit {
  padding: 100px 0;
  background: #ffffff;
}

#cedit .cedit-content {
  margin: auto;
  padding: 70px 20px;
  background: #fafaf7;
  border-radius: 16px;
  text-align: center;
}

#cedit .cedit-content h2 {
  font-size: 40px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}

#cedit .cedit-content .cedit-text {
  font-size: 16px;
  color: #627382;
  line-height: 1.6;
  margin-bottom: 32px;
}

#cedit .cedit-content .cedit-btn {
  background: #0099ff;
  color: #ffffff;
  padding: 14px 26px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  outline: none;
  transition: 0.3s;
}

#cedit .cedit-content .cedit-btn:hover {
  background: #2f7448;
}

#cedit .cedit-content .cedit-p {
  margin-top: 20px;
  font-size: 14px;
  color: #627382;
}

.footer {
  background-color: #001931;
  padding: 50px 0 30px;
  color: #ffffff;
}

.footer-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  width: 130px;
}

.footer-left img {
  width: 100%;
}

.footer-right {
  text-align: center;
}

.footer-right p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #e2e8f0;
}

.social-icons {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.social-icons a {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}
.social-icons a i {
  font-size: 14px;
}
.social-icons a:hover {
  border-color: #16a34a;
  color: #0099ff;
}

.footer-divider {
  width: 100%;
  max-width: 1360px;
  margin: 30px auto 20px;
  height: 1px;
  background: #334155;
}

.footer-copy {
  text-align: center;
  font-size: 14px;
  color: #fafafa;
}
