* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
}

.navbar {
  background: #ffffff;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 92px;
}

.logo img {
  width: 130px;
  cursor: pointer;
}

.nav-items {
  display: flex;
  gap: 24px;
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s;
}
.nav-items li a:hover {
  color: #5271ff;
}

.btn {
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  background: #5271ff;
  color: #ffffff;
  transition: 0.3s;
}
.btn:hover {
  background: #469165;
}

.btn-outline {
  border: 1px solid #cbd5f5;
  color: #334155;
}

#hero-banner {
  background: url('../assets/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 0;
}

#hero-banner .banner-content {
  max-width: 770px;
}

#hero-banner .access-text {
  margin-bottom: 20px;
  text-align: center;
  background: #ffffff;
  padding: 6px 12px;
  border-radius: 20px;
  width: 230px;
}

#hero-banner .open-txt {
  font-size: 16px;
  text-align: center;
  color: #5271ff;
}


#hero-banner h1 {
  font-size: 70px;
  margin: 20px 0;
  color: #ffffff;
}

#hero-banner h1 span {
  color: #5271ff;
}

#hero-banner p {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  line-height: 1.7;
  margin-bottom: 30px;
}

#hero-banner .banner-buttons {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
#hero-banner .see-btn {
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: 0.3s;
}
#hero-banner .see-btn:hover {
  border-color: #5271ff;
}
